* {
  box-sizing: border-box;
  font-family: 'Segoe UI Regular', sans-serif;
}
.container {
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}
.content-container {
  max-width: 76.9%;
  margin: auto;
}
.text-container {
  max-width: 82.5688%;
  margin: auto;
}
.href-decor {
  text-decoration: none;
}
img {
  display: block;
}
.button {
  display: block;
  background: #FED632 0% 0% no-repeat padding-box;
  border-radius: 12px;
  font-family: 'Segoe UI Semibold', sans-serif;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
button:active,
button:focus {
  position: гelative;
  border: none;
  outline: none;
}
.flickity-viewport {
  overflow: visible !important;
}
.carousel-cell {
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}
.is-selected {
  opacity: 1;
  transition: opacity 0.5s;
}
.flickity-prev-next-button {
  height: 52px !important;
  background: none !important;
  color: #787878 !important;
}
.flickity-prev-next-button .flickity-button-icon {
  width: 26px;
  height: 52px;
  top: 0;
}
.flickity-prev-next-button.next {
  right: -20px !important;
}
.flickity-prev-next-button.previous {
  left: -20px !important;
}
.href-decor {
  cursor: unset;
}
.flickity-page-dots {
  pointer-events: none;
}
.flickity-page-dots .dot {
  pointer-events: auto;
}
