@font-face {
  font-family: 'Segoe UI Semibold';
  src: url('../fonts/SegoeUI-SemiBold.eot');
  src: url('../fonts/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/SegoeUI-SemiBold.woff') format('woff'), url('../fonts/SegoeUI-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe UI Regular';
  src: url('../fonts/SegoeUI.eot');
  src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'), url('../fonts/SegoeUI.woff') format('woff'), url('../fonts/SegoeUI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KoskoBold Bold';
  src: url('../fonts/KoskoBold-Bold.eot');
  src: url('../fonts/KoskoBold-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/KoskoBold-Bold.woff') format('woff'), url('../fonts/KoskoBold-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: 'Segoe UI Regular', sans-serif;
}
.container {
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}
.content-container {
  max-width: 76.9%;
  margin: auto;
}
.text-container {
  max-width: 82.5688%;
  margin: auto;
}
.href-decor {
  text-decoration: none;
}
img {
  display: block;
}
.button {
  display: block;
  background: #FED632 0% 0% no-repeat padding-box;
  border-radius: 12px;
  font-family: 'Segoe UI Semibold', sans-serif;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
button:active,
button:focus {
  position: гelative;
  border: none;
  outline: none;
}
.flickity-viewport {
  overflow: visible !important;
}
.carousel-cell {
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}
.is-selected {
  opacity: 1;
  transition: opacity 0.5s;
}
.flickity-prev-next-button {
  height: 52px !important;
  background: none !important;
  color: #787878 !important;
}
.flickity-prev-next-button .flickity-button-icon {
  width: 26px;
  height: 52px;
  top: 0;
}
.flickity-prev-next-button.next {
  right: -20px !important;
}
.flickity-prev-next-button.previous {
  left: -20px !important;
}
.href-decor {
  cursor: unset;
}
.flickity-page-dots {
  pointer-events: none;
}
.flickity-page-dots .dot {
  pointer-events: auto;
}
.header__back {
  background: transparent linear-gradient(180deg, #FED632 0%, #FED632 80%, #EFBE1B 100%) 0% 0% no-repeat padding-box;
  padding: 7.76vw 0 9.64vw 0;
}
.header__title {
  font-size: 5.41vw;
  font-family: 'Segoe UI Semibold', sans-serif;
}
.header__description {
  margin-top: 3.05vw;
  font-size: 4vw;
  line-height: 5.17vw;
}
.header__tagline {
  font-size: 4.7vw;
  line-height: 6.58vw;
  font-family: 'Segoe UI Semibold', sans-serif;
  text-transform: uppercase;
  margin-top: 7.05vw;
}
.header__info {
  font-size: 4vw;
  line-height: 5.17vw;
  color: #707070;
  margin-top: 2.35vw;
}
.header__offer {
  margin-top: 7.05vw;
  padding: 6.11vw 0 6.82vw 0;
  background: transparent linear-gradient(180deg, #B870FF 0%, #B66EFD 18%, #A661EC 59%, #9A57DE 100%) 0% 0% no-repeat padding-box;
  color: #FFFFFF;
}
.header__offer__title {
  font-size: 5.41vw;
  line-height: 7.29vw;
  font-family: 'Segoe UI Semibold', sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.header__offer__description {
  margin-top: 1.17vw;
  font-size: 4.7vw;
  line-height: 5.64vw;
  text-align: center;
}
.products .offer {
  position: relative;
  width: 100%;
  margin-bottom: 19px;
}
.products .offer .sale {
  position: absolute;
  width: 26.82vw;
  height: 11.76vw;
  background: #FED632;
  left: 0;
  top: 3.53vw;
  font-size: 5.64vw;
  font-family: 'Segoe UI Semibold', sans-serif;
  text-align: center;
  padding-top: 2.35vw;
  z-index: 10;
}
.products .offer .carousel {
  width: 100%;
}
.products .offer .carousel img {
  width: 100%;
}
.products .offer .title {
  font-size: 20px;
  line-height: 28px;
  font-family: 'Segoe UI Semibold', sans-serif;
  color: #707070;
  margin-top: 27px;
}
.products .offer .title span {
  font-family: 'Segoe UI Semibold', sans-serif;
  white-space: nowrap;
}
.products .offer .tov-val {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.products .offer .cost {
  font-size: 24px;
  line-height: 32px;
  font-family: 'Segoe UI Semibold', sans-serif;
}
.products .offer .cost span {
  text-decoration: line-through;
  font-family: 'Segoe UI Semibold', sans-serif;
}
.products .offer .raiting {
  width: 27.05vw;
  height: 5.41vw;
  background-size: contain;
}
.products .offer .description {
  font-size: 17px;
  line-height: 25px;
  color: #707070;
  margin-top: 21px;
}
.products .offer .btn {
  width: 100%;
  height: 73px;
  font-size: 5.64vw;
  margin-top: 24px;
}
.rait-50 {
  background: url(../img/raiting/93.png) no-repeat;
}
.rait-45 {
  background: url(../img/raiting/91.png) no-repeat;
}
.rait-40 {
  background: url(../img/raiting/94.png) no-repeat;
}
.rait-35 {
  background: url(../img/raiting/92.png) no-repeat;
}
.youtube {
  height: 100%;
}
@media (min-width: 425px) {
  .container {
    max-width: 425px;
  }
  .header__back {
    padding: 33px 0 41px 0;
  }
  .header__title {
    font-size: 23px;
  }
  .header__description {
    margin-top: 13px;
    font-size: 17px;
    line-height: 22px;
  }
  .header__tagline {
    font-size: 20px;
    line-height: 28px;
    margin-top: 30px;
  }
  .header__info {
    font-size: 17px;
    line-height: 22px;
    margin-top: 10px;
  }
  .header__offer {
    margin-top: 30px;
    padding: 26px 0 29px 0;
  }
  .header__offer__title {
    font-size: 23px;
    line-height: 31px;
  }
  .header__offer__description {
    margin-top: 5px;
    font-size: 20px;
    line-height: 24px;
  }
  .products .offer .sale {
    width: 114px;
    height: 50px;
    top: 15px;
    font-size: 24px;
    padding-top: 10px;
  }
  .products .offer .title {
    font-size: 20px;
    line-height: 28px;
    margin-top: 27px;
  }
  .products .offer .tov-val {
    margin-top: 12px;
  }
  .products .offer .cost {
    font-size: 24px;
    line-height: 32px;
  }
  .products .offer .raiting {
    width: 155px;
    height: 23px;
  }
  .products .offer .description {
    font-size: 17px;
    line-height: 25px;
    margin-top: 21px;
  }
  .products .offer .btn {
    height: 73px;
    margin-top: 24px;
    font-size: 24px;
  }
}
